<div>
  <h1>Ask your coach a question</h1>
  <h3>Type it in the box</h3>
</div>
<form action="answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>
